
{% extends "base.html" %}

{% block site_meta %}

  {{ super() }}

  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS feed of created content" href="{{ config.site_url }}feed_rss_created.xml">
  <link rel="alternate" type="application/rss+xml" title="RSS feed of updated content" href="{{ config.site_url }}feed_rss_updated.xml">

  {# First, add static opengraph tags #}
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="de_DE" />
  <meta name="twitter:site" content="@9Lukas5" />
  <meta name="fediverse:creator" content="@9Lukas5@mastodontech.de">

  {#- Then, add dynamic opengraph tags from the markdowns meta tags -#}
  {% if page.meta %}
    {% if page.meta.title %}
      <meta property="og:title" content="{{ page.meta.title }}" />
      <meta name="twitter:title" content="{{ page.meta.title }}" />
    {% endif %}

    {% if page.meta.description %}
      <meta property="og:description" content="{{ page.meta.description }}" />
      <meta name="twitter:description" content="{{ page.meta.description }}" />
    {% endif %}

    {% if page.meta.image %}
      {% set image = config.site_url + page.url.replace("index.html", page.meta.image) %}
      <meta property="og:image" content="{{ image }}" />
      <meta name="twitter:image" content="{{ image }}" />
      <meta name="twitter:card" content="summary_large_image" />
    {% else %}
      {% set image = config.site_url + "assets/images/logo.avif" %}
      <meta property="og:image" content="{{ image }}" />
      <meta name="twitter:image" content="{{ image }}" />
      <meta name="twitter:card" content="summary" />
    {% endif %}
  {% endif %}

{% endblock %}
