
{% if page.meta.comments %}

{% set comments = page.meta.comments %}

<div class="article-content" id="__comments">
    <h2>Comments</h2>
    <p>You can use your Fediverse account to reply to this <a class="link" href="https://{{ comments.host }}/@{{ comments.username }}/{{ comments.id }}">post</a>.</p>
    <p><button class="md-button md-button--primary" id="replyButton" href="https://{{ comments.host }}/@{{ comments.username }}/{{ comments.id }}">Reply</button></p>
    <p id="mastodon-comments-list"><button class="md-button md-button--primary" id="load-comment">Load comments</button></p>
    <dialog id="toot-reply" class="mastodon" data-component="dialog">
      <h3>Reply to {{ comments.username }}'s post</h3>
      <p>
        With an account on the Fediverse, you can respond to this post.
        Since the Fediverse is decentralized, you can use your existing account hosted by another Fediverse server if you don't have an account on this one.
      </p>
      <p>Copy and paste this URL into the search field of your favourite Fediverse app or the web interface of your Fediverse server.</p>
      <div class="copypaste">
        <input type="text" readonly="" value="https://{{ comments.host }}/@{{ comments.username }}/{{ comments.id }}">
        <button class="md-button md-button--primary" id="copyButton">Copy</button>
        <button class="md-button" id="cancelButton">Close</button>
      </div>
    </dialog>
    <noscript><p>You need JavaScript to view the comments.</p></noscript>
    <script type="text/javascript">

      const dialog = document.querySelector('dialog');

      document.getElementById('replyButton').addEventListener('click', () => {
        dialog.showModal();
      });

      document.getElementById('copyButton').addEventListener('click', () => {
        navigator.clipboard.writeText('https://{{ comments.host }}/@{{ comments.username }}/{{ comments.id }}');
      });

      document.getElementById('cancelButton').addEventListener('click', () => {
        dialog.close();
      });

      dialog.addEventListener('keydown', e => {
        if (e.key === 'Escape') dialog.close();
      });

      const dateOptions = {
        year: "numeric",
        month: "numeric",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
      };

      function escapeHtml(unsafe) {
        return unsafe
             .replace(/&/g, "&amp;")
             .replace(/</g, "&lt;")
             .replace(/>/g, "&gt;")
             .replace(/"/g, "&quot;")
             .replace(/'/g, "&#039;");
     }

      document.getElementById("load-comment").addEventListener("click", function() {
        document.getElementById("load-comment").innerHTML = "Loading";
        fetch('https://{{ comments.host }}/api/v1/statuses/{{ comments.id }}/context')
          .then(function(response) {
            return response.json();
          })
          .then(function(data) {
            if(data['descendants'] &&
               Array.isArray(data['descendants']) &&
              data['descendants'].length > 0) {
                document.getElementById('mastodon-comments-list').innerHTML = "";
                data['descendants'].forEach(function(reply) {
                  reply.account.display_name = escapeHtml(reply.account.display_name);
                  reply.account.reply_class = reply.in_reply_to_id == "{{ comments.id }}" ? "reply-original" : "reply-child";
                  reply.created_date = new Date(reply.created_at);
                  reply.account.emojis.forEach(emoji => {
                    reply.account.display_name = reply.account.display_name.replace(`:${emoji.shortcode}:`,
                      `<img src="${escapeHtml(emoji.static_url)}" alt="Emoji ${emoji.shortcode}" height="20" width="20" />`);
                  });
                  mastodonComment =
                      `
  <div class="mastodon-wrapper">
    <div class="comment-level ${reply.account.reply_class}"></div>
    <div class="mastodon-comment">
      <div class="comment">
        <div class="comment-avatar"><img src="${escapeHtml(reply.account.avatar_static)}" alt=""></div>
        <div class="comment-author">
          <div class="comment-author-name"><a href="${reply.account.url}" rel="nofollow">${reply.account.display_name}</a></div>
          <div class="comment-author-reply"><a href="${reply.account.url}" rel="nofollow">${escapeHtml(reply.account.acct)}</a></div>
        </div>
        <div class="comment-author-date">${reply.created_date.toLocaleString(navigator.language, dateOptions)}</div>
      </div>
      <div class="comment-content">${reply.content}</div>
    </div>
  </div>
  `;
                  document.getElementById('mastodon-comments-list').appendChild(DOMPurify.sanitize(mastodonComment, {'RETURN_DOM_FRAGMENT': true}));
                });
            } else {
              document.getElementById('mastodon-comments-list').innerHTML = "<p>Not comments found</p>";
            }
          });
        });
    </script>
  </div>

{% endif %}
