
.mastodon-wrapper {
    display: flex;
    gap: 3rem;
    flex-direction: row;
}

.comment-level {
    max-width: 2rem;
    min-width: 2rem;
}

.reply-original {
    display: none;
}

.mastodon-comment {
    background-color: var(--md-default-bg-color);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 2px;
    border: 2px solid;
    border-radius: 5px;
    border-color: lightgray;
}

.mastodon-comment .comment {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: true;
}

.mastodon-comment .comment-avatar img {
    width: 6rem;
}

.mastodon-comment .content {
    flex-grow: 2;
}

.mastodon-comment .comment-author {
    display: flex;
    flex-direction: column;
}

.mastodon-comment .comment-author &-name {
    font-weight: bold;
}

.mastodon-comment .comment-author &-name a {
    display: flex;
    align-items: center;
}

.mastodon-comment .comment-author &-date {
    margin-left: auto;
}

.disabled {
    color: var(--accent-color)
}

.mastodon-comment .comment-content p:first-child {
    margin-top: 0;
}

.mastodon {
    --dlg-bg: var(--md-default-bg-color);
    --dlg-w: 600px;
    --dlg-color: var(--md-default-fg-color);
    --dlg-button-p: 0.75em 2em;
    --dlg-outline-c: #00D9F5;
}

.copypaste {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copypaste input {
    display: block;
    font-family: inherit;
    background: #17191f;
    border: 1px solid #8c8dff;
    color: #9baec8;
    border-radius: 4px;
    padding: 6px 9px;
    line-height: 22px;
    font-size: 14px;
    transition: border-color .3s linear;
    flex: 1 1 auto;
    overflow: hidden;
}

.copypaste .button {
    border: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    overflow: hidden;
    padding: 7px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    background-color: #232730;
}

[data-component*="dialog"] * {
    box-sizing: border-box;
    outline-color: var(--dlg-outline-c, hsl(218, 79.19%, 35%))
}

:where([data-component*="dialog"]) {
    --dlg-gap: 1em;
    background: var(--dlg-bg, #fff);
    border: var(--dlg-b, 0);
    border-radius: var(--dlg-bdrs, 0.25em);
    box-shadow: var(--dlg-bxsh, 0px 25px 50px -12px rgba(0, 0, 0, 0.25));
    min-inline-size: var(--dlg-mis, auto);
    padding: var(--dlg-p, var(--dlg-gap));
    width: var(--dlg-w, fit-content);
    color: var(--dlg-color, #000);
}
