
.caption {
    font-size: x-small;
}

.date {
    font-size: x-small;
    color: grey;
}

.introduction {
    font-size: smaller;
}

:root > * {
    --md-primary-fg-color:        #1B5E20;
    --md-primary-fg-color--light: #1B5E20;
    --md-primary-fg-color--dark:  #1B5E20;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}
